@use '../index.scss';


.canvas {
    width: 100vw;
    height: 170vh;
    background-image: index.$background;
    background-size: cover;

    form {
        button {
            margin-left: 0.5em;
        }
    }
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .workspaceTitle {
        margin: 0;
    }

    .componentForm {
        label {
            margin-top: 0.5em;
        }
    }

    .canvases {
        display: flex;

        div {
            display: flex;
            align-items: center;
            margin-right: 1.5em;

            >* {
                display: inline-block;
                margin-left: 0.5em;
            }

            .deleteCanvas {
                width: 16px;
                height: 16px;
            }

            .plus {
                background-color: index.$background-color;
                width: 16px;
                height: 16px;
                border: 2px solid index.$red;
                padding: 4px;
                border-radius: 4px;
            }
        }


    }
}


label {
    display: block;
}